<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="ru.lspl.ui.editors.LsplPatternsEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="lspl"
            id="ru.lspl.ui.editors.LsplPatternsEditor"
            name="%editor.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editors.documentProviders">
      <provider
            class="ru.lspl.ui.documents.LsplPatternsDocumentProvider"
            extensions="lspl"
            id="ru.lspl.ui.documents.LsplPatternsDocumentProvider">
      </provider>
   </extension>

</plugin>
