<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="ru.lspl.analyzer.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="ru.lspl.analyzer.rcp.Perspective"
            id="ru.lspl.analyzer.rcp.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="ru.lspl.analyzer.rcp.perspective">
         <view
               id="ru.lspl.analyzer.rcp.views.WordsView"
               minimized="false"
               ratio="0.7"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               id="ru.lspl.analyzer.rcp.views.MatchesView"
               minimized="false"
               relationship="stack"
               relative="ru.lspl.analyzer.rcp.views.WordsView">
         </view>
         <view
               id="ru.lspl.analyzer.rcp.views.PatternsView"
               minimized="false"
               ratio="0.7"
               relationship="right"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="ru.lspl.analyzer.rcp.editors.DocumentEditor"
            extensions="txt"
            icon="icons/sample.gif"
            id="ru.lspl.analyzer.rcp.editors.DocumentEditor"
            name="Document Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="ru.lspl.analyzer.rcp"
            name="Lspl Category">
      </category>
      <view
            category="ru.lspl.analyzer.rcp"
            class="ru.lspl.analyzer.rcp.views.PatternsView"
            icon="icons/sample.gif"
            id="ru.lspl.analyzer.rcp.views.PatternsView"
            name="Patterns View">
      </view>
      <view
            category="ru.lspl.analyzer.rcp"
            class="ru.lspl.analyzer.rcp.views.WordsView"
            icon="icons/sample.gif"
            id="ru.lspl.analyzer.rcp.views.WordsView"
            name="Words View">
      </view>
      <view
            category="ru.lspl.analyzer.rcp"
            class="ru.lspl.analyzer.rcp.views.MatchesView"
            icon="icons/sample.gif"
            id="ru.lspl.analyzer.rcp.views.MatchesView"
            name="Matches View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="fileMenu"
               label="File"
               mnemonic="F">
            <command
                  commandId="ru.lspl.analyzer.rcp.newDocument"
                  label="New Document"
                  style="push">
            </command>
            <command
                  commandId="ru.lspl.analyzer.rcp.openDocument"
                  label="Open..."
                  style="push">
            </command>
            <separator
                  name="ru.lspl.analyzer.rcp.fileMenuSeparator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.save"
                  label="Save"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAs"
                  label="Save As.."
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAll"
                  label="Save All"
                  style="push">
            </command>
            <separator
                  name="ru.lspl.analyzer.rcp.fileMenuSeparator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit"
                  style="push"
                  tooltip="Exits the application">
            </command>
         </menu>
         <menu
               id="patternsMenu"
               label="Patterns"
               mnemonic="P">
            <command
                  commandId="ru.lspl.analyzer.rcp.clearPatterns"
                  label="Clear Patterns"
                  style="push">
            </command>
            <command
                  commandId="ru.lspl.analyzer.rcp.importPatterns"
                  label="Import Patterns..."
                  style="push">
            </command>
            <command
                  commandId="ru.lspl.analyzer.rcp.exportPatterns"
                  label="Export Patterns..."
                  style="push">
            </command>
         </menu>
         <menu
               id="windowMenu"
               label="Window"
               mnemonic="W">
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  label="Preferences"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="ru.lspl.analyzer.rcp.documentToolbar">
            <command
                  commandId="ru.lspl.analyzer.rcp.analyzeDocument"
                  label="Analyze"
                  style="push">
               <visibleWhen>
                  <reference
                        definitionId="ru.lspl.analyzer.rcp.documentEditorActive">
                  </reference>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="ru.lspl.analyzer.rcp.commands.NewDocumentCommand"
            id="ru.lspl.analyzer.rcp.newDocument"
            name="New Document">
      </command>
      <command
            id="ru.lspl.analyzer.rcp.analyzeDocument"
            name="Analyze Document">
      </command>
      <command
            defaultHandler="ru.lspl.analyzer.rcp.commands.OpenDocumentHandler"
            id="ru.lspl.analyzer.rcp.openDocument"
            name="Open Document">
      </command>
      <command
            defaultHandler="ru.lspl.analyzer.rcp.commands.ClearPatternsHandler"
            id="ru.lspl.analyzer.rcp.clearPatterns"
            name="Clear Patterns">
      </command>
      <command
            defaultHandler="ru.lspl.analyzer.rcp.commands.ExportPatternsHandler"
            id="ru.lspl.analyzer.rcp.exportPatterns"
            name="Export Patterns">
      </command>
      <command
            defaultHandler="ru.lspl.analyzer.rcp.commands.ImportPatternsHandler"
            id="ru.lspl.analyzer.rcp.importPatterns"
            name="Import Patterns">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ru.lspl.analyzer.rcp.commands.AnalyzeDocumentHandler"
            commandId="ru.lspl.analyzer.rcp.analyzeDocument">
         <enabledWhen>
            <with
                  variable="activeEditor">
               <test
                     property="ru.lspl.analyzer.rcp.analysisNeeded"
                     value="true">
               </test>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="ru.lspl.analyzer.rcp.documentEditorActive">
         <with
               variable="activeEditorId">
            <equals
                  value="ru.lspl.analyzer.rcp.editors.DocumentEditor">
            </equals>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="ru.lspl.analyzer.rcp.testers.DocumentStateTester"
            id="ru.lspl.analyzer.rcp.documentStateTester"
            namespace="ru.lspl.analyzer.rcp"
            properties="analysisNeeded"
            type="org.eclipse.ui.IEditorPart">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="ru.lspl.analyzer.rcp.preferences.DocumentEditorPreferencePage"
            id="ru.lspl.analyzer.rcp.preferences.DocumentEditorPreferencePage"
            name="Document Editor Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="ru.lspl.analyzer.rcp.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
